//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= form_for(@connection_config, :url => connection_config_path) do |f|
  %fieldset
    %legend= t(".connection_configuration")
    = f.label(:device)
    - if !@available_devices.include?(@connection_config.device)
      = content_tag(:p, "#{t('.not_available')} #{@connection_config.device}")
    = f.select(:device, options_for_select(@available_devices, @connection_config.device))
    = f.label(:extra)
    = f.text_area(:extra)
    = f.submit(t(".save"))
