//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= form_tag(send_test_connection_config_path) do
  %fieldset
    %legend= t(".test_connection")
    = label_tag(t(".phone_number"))
    = text_field_tag('phone_number')
    = label_tag(t(".message"))
    = text_field_tag('message', nil, :maxlength => 100)
    = button_tag(t(".send"))
