//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= render({:partial => "shared/errors", :object => @patient})
= form_for([@patient]) do |p|
  %fieldset
    %legend= t(".legend")
    %ol
      = p.fields_for(:subscriber, @patient.subscriber) do |s|
        = s.hidden_field(:active)
        %li
          = s.label(:phone_number)
          = s.telephone_field(:phone_number, {:required => true, :placeholder => "2223334444", :size => 10, :maxlength => 10})
      %li
        = p.label(:active)
        = p.check_box(:active)
      %li
        = p.label(:user_name)
        = p.text_field(:user_name, :required => true)
      %li
        = p.label(:study_number)
        = p.text_field(:study_number, {:size => 16})
      %li
        = p.label(:contact_phone_number)
        = p.telephone_field(:contact_phone_number, {:placeholder => "2223334444", :size => 10, :maxlength => 10})
      %li
        = p.label(:clinic_id)
        = p.select(:clinic_id, options_from_collection_for_select(Weltel::Clinic.all, :id, :name, @patient.clinic_id))
  %fieldset
    .center
      = link_to(t(".cancel"), weltel_patients_path, :class => "button")
      = p.submit(t(".commit"), :data => {:disable_with => t(".commit_disable")})