= content_tag_for(:li, patient, :class => "item") do
  .sidebar
    = link_to( |
        t(".destroy_link"), |
        weltel_patient_path(patient), |
        {:method => :delete, :confirm => t(".destroy_confirm"), :disable_with => t(".destroy_disable"), :class => "button"})
  .body
    %h3= link_to("#{patient.username} - #{patient.study_number} - #{patient.subscriber.phone_number}", edit_weltel_patient_path(patient))