= content_tag_for(:tr, patient, :class => "item") do
  %td= link_to(patient.user_name, edit_weltel_patient_path(patient))

  %td= patient.study_number

  %td= patient.subscriber.phone_number

  %td= patient.subscriber.active

  %td
    = link_to( |
        t(".destroy_link"), |
        weltel_patient_path(patient), |
        {:method => :delete, :confirm => t(".destroy_confirm"), :data => {:disable_with => t(".destroy_disable")}, :class => "button"})
