%table
  %tr
    = sorted_table_header_tag(:username) do
      = t(".username")
    = sorted_table_header_tag(:study_number) do
      = t(".study_number")
    %th= t(".phone_number")
    %th= t(".actions")
  = render({:collection => @patients, :partial => "row", :as => :patient})
