%table
  %tr
    %th= t(".user_name")
    %th= t(".study_number")
    %th= t(".phone_number")
    %th= t(".active")
    %th= t(".actions")
  = render({:collection => @patients, :partial => "row", :as => :patient})
