%table
  %tr
    = sorted_table_header_tag(:user_name) do
      = t(".user_name")

    = sorted_table_header_tag(:study_number) do
      = t(".study_number")

    = sorted_table_header_tag(:phone_number) do
      = t(".phone_number")

    = filter_table_header_tag(:clinic, clinic_options) do
      = t(".clinic")

    = table_header_tag(t(".active"))
    = table_header_tag(t(".actions"))

  - if @patients.empty?
    %tr{:colspan => 6}
      %td= t(".no_patients")
  - else
    = render({:collection => @patients, :partial => "row", :as => :patient})
