//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = sorted_table_header_tag(:user_name) do
      = t(".user_name")

    = sorted_table_header_tag(:study_number) do
      = t(".study_number")

    = sorted_table_header_tag("subscriber.phone_number") do
      = t(".phone_number")

    = filter_table_header_tag("clinic.name", clinic_name_options) do
      = t(".clinic")

    = table_header_tag(t(".active"))
    = table_header_tag(t(".actions"))

    - if @patients.empty?
      %tr
        %td{:colspan => 6}
          .empty_search= t(".no_patients")
    - else
      = render({:collection => @patients, :partial => "row", :as => :patient})
