%table
  %tr
    = sorted_table_header_tag(:user_name) do
      = t(".user_name")
    = sorted_table_header_tag(:study_number) do
      = t(".study_number")
    = sorted_table_header_tag(:phone_number) do
      = t(".phone_number")
    %th= t(".active")
    %th= t(".actions")
  = render({:collection => @patients, :partial => "row", :as => :patient})
