= render("form")

- content_for(:actions) do
  = link_to(t(".messages_link"), weltel_patient_messages_path(@patient), :class => "button")

%fieldset
  %legend= t(".legend")
  %ol
    %li
      %span.label= t(".created_at")
      = l(@patient.created_at)
    %li
      %span.label= t(".updated_at")
      = l(@patient.updated_at)
