- content_for :actions do
  = link_to(t(".new_link"), new_weltel_patient_path, :id => "add_patient", :class => "button")

  = form_tag(weltel_patients_path, {:id => "search_patients", :method => :get}) do
    = search_field_tag(:search, @search, {:size => 40, :tabindex => 1})
    = submit_tag(t(".search"))

- if @patients.empty?
  = t(".no_patients")
-else
  = render("table")

  - content_for(:footer) do
    = raw(@patients.pager.to_html(""))