//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

- content_for :actions do
  = link_to(t(".new_link"), new_weltel_patient_path, :id => "add_patient", :class => "button")
  = link_to("Download CSV", {:action => "index", :format => "csv"},:id => "download_csv", :class => "button" )

  = form_tag(weltel_patients_path, {:id => "search_patients", :method => :get}) do
    = hidden_field_tag(:page, 1)
    = search_field_tag(:search, @search, {:size => 40, :tabindex => 1})
    = submit_tag(t(".search"))

= render("table")

- content_for(:footer) do
  = will_paginate(@patients)