//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

- content_for(:actions) do
  - if AppConfig.demo_mode
    = link_to("Test Checkup", create_records_weltel_task_path, {:remote => true, :class => "button"})
    = link_to("Test Late", update_records_weltel_task_path, {:remote => true, :class => "button"})

  - if @update_needed
    = link_to(t(".update_link"), weltel_update_path, {:method=> :post, :class => "button"})

  = link_to(t('.configure_connection'), edit_connection_config_path, :class => 'button')
  = link_to(t('.test_connection'), test_connection_config_path, :class => 'button')

- if @update_needed
  = t(".update")
- else
  = t(".no_update")

- content_for(:subfooter) do
  .revision
    = "#{t('.revision')}: #{@revision}"
