%h1= t('.system_admin')

%dl
  %dt= link_to(t('.configure_connection'), edit_weltel_system_connection_path, :class => 'button')
  %dd= t('.about_configure_connection')

  %dt= link_to(t('.test_connection'), new_weltel_system_connection_test_path, :class => 'button')
  %dd= t('.about_test_connection')

  %dt= link_to(t('.manage_updates'), weltel_system_version_path, :class => 'button')
  %dd= t('.about_manage_updates')

  %dt= link_to(t('.demonstrate_features'), weltel_system_demo_path, :class => 'button')
  %dd= t('.about_demonstrate_features')

  %dt= link_to(t('.inspect_logs'), weltel_system_logs_path, :class => 'button')
  %dd= t('.about_inspect_logs')
