= form_tag(weltel_system_connection_test_path) do
  %fieldset
    %legend= t(".test_connection")
    %ol
      %li
        = label_tag(t(".phone_number"))
        = text_field_tag('phone_number')
      %li
        = label_tag(t(".message"))
        = text_field_tag('message', nil, :maxlength => 100)
      %li
        = submit_tag(t(".send"))
