%table
  %tr
    = sorted_table_header_tag(:phone_number) do
      = t(".phone_number")
    = sorted_table_header_tag(:body) do
      = t(".body")
    = sorted_table_header_tag(:status) do
      = t(".status")
    = sorted_table_header_tag(:created_at) do
      = t(".created_at")

  = render(:collection => @messages, :partial => "row", :as => :message)