//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = sorted_table_header_tag(:phone_number) do
      = t(".phone_number")
    = sorted_table_header_tag(:body) do
      = t(".body")
    = sorted_table_header_tag(:status) do
      = t(".status")
    = sorted_table_header_tag(:created_at) do
      = t(".created_at")

  - if @messages.empty?
    %tr
      %td{:colspan => 4}
        .empty_search= t(".no_messages")
  - else
    = render(:collection => @messages, :partial => "row", :as => :message)
