- content_for(:actions) do
  = link_to( |
    "#{@patient.username} - #{@patient.study_number} - #{@patient.subscriber.phone_number}", |
    edit_weltel_patient_path(@patient), |
    :class => "button")

= render("form")