%table
  %tr
    = sorted_table_header_tag("", :name) do
      = t(".name")
    = sorted_table_header_tag("", :updated_at) do
      = t(".updated_at")
    %th
      .title= t(".actions")

  = render(:collection => @clinics, :partial => "row", :as => :clinic)
