= content_tag_for(:li, patient, :class => "item") do

  .sidebar
    = link_to( |
        t(".messages_link", :count => patient.subscriber.messages.received.count), |
        weltel_patient_messages_path(patient), :class => "button")

  .body
    %h3= link_to("#{patient.user_name} - #{patient.study_number} - #{patient.subscriber.phone_number}", edit_weltel_patient_path(patient))

  = initial_state_tag(patient)
  = active_state_tag(patient)
  = status_tag(patient)
  = contact_method_tag(patient)

  - first_sent = patient.active_record.messages.sent.first
  - if first_sent
    .first
    - first_received = patient.active_record.messages.received.first
    %h3 Initial response
    = exchange_tag(nil, first_received, [nil, 'messaging.no_initial_receive'])
    - if first_received
      %h3 Most recent messages
      .last
        = exchange_tag(patient.active_record.messages.sent.last, patient.active_record.messages.received.last)
  - else
    = exchange_tag(nil, nil, ['messaging.no_initial_send', nil])

