= content_tag_for(:li, patient, :class => "item") do

  .sidebar
    = link_to(t(".messages_link"), weltel_patient_messages_path(patient), :class => "button")

  %h2= "#{patient.username} - #{patient.study_number} - #{patient.subscriber.phone_number}"

  - if patient.state == true
    %h3= t(".ok")
  - elsif patient.state == false
    %h3= t(".not_ok")
  - else
    %h3= t(".unknown")

  #last_exchange
    - last_sent = patient.subscriber.messages.sent.last
    - if !last_sent.nil?
      #outgoing
        = last_sent.body
      - last_received = last_sent.children.last
      - if !last_received.nil?
        #incoming
          = last_received.body
