= content_tag_for(:li, patient, :class => "item") do

  .sidebar
    = link_to( |
        t(".messages_link", :count => patient.subscriber.messages.received.count), |
        weltel_patient_messages_path(patient), :class => "button")

  .body
    %h3= link_to("#{patient.username} - #{patient.study_number} - #{patient.subscriber.phone_number}", edit_weltel_patient_path(patient))

    - if patient.active_record.active_state == :ok
      %h3= t(".ok")
    - elsif patient.active_record.active_state == :not_ok
      %h3= t(".not_ok")
    - else
      %h3= t(".unknown")

  .last_exchange
    - last_sent = patient.subscriber.messages.sent.last
    - if !last_sent.nil?
      .outgoing
        = last_sent.body
      - last_received = last_sent.children.last
      - if !last_received.nil?
        .incoming
          = last_received.body
