//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%tr.patient_first.item
  %td
    %h3= link_to(patient.user_name, edit_weltel_patient_path(patient))
  %td
    %h3= patient.study_number
  %td
    = result_value_tag(patient.initial_result)
  %td
    = result_value_select_tag(patient, patient.current_checkup, patient.current_result)
  %td
    = checkup_status_select_tag(patient, patient.current_checkup)
  %td
    = checkup_contact_method_select_tag(patient, patient.current_checkup)
  %td
    = patient.clinic.name
  %td.actions
    = link_to(t(".messages_link", :count => patient.subscriber.messages.received.count), weltel_patient_messages_path(patient), :class => "button")
    = link_to('+', '#', :class => 'toggle_details')

%tr.patient_last
  - first_sent = patient.current_checkup.messages.sent.first
  %td.first{:colspan => 4}
    - if first_sent
      - first_received = patient.current_checkup.messages.received_or_read.first
      - if first_sent
        %h3 Initial response
        = exchange_tag(nil, first_received, [nil, 'messaging.no_initial_receive'])
    - else
      = exchange_tag(nil, nil, ['messaging.no_initial_send', nil])
  %td.last{:colspan => 5}
    - if first_received
      %h3 Most recent messages
      = exchange_tag(patient.current_checkup.messages.sent.last, patient.current_checkup.messages.received_or_read.last)
