%tr.patient_first.item
  %td
    %h3= link_to(patient.user_name, edit_weltel_patient_path(patient))
  %td
    %h3= patient.study_number
  %td
    %h3= patient.subscriber.phone_number
  %td
    = initial_state_tag(patient)
  %td
    = active_state_tag(patient)
  %td
    = form_for(patient.active_record, :url => weltel_patient_record_path(patient, patient.active_record)) do |f|
      = select_tag(:status, options_for_enum(Weltel::PatientRecord.status, patient.active_record.status), :onchange => submit_form)
  %td
    = form_for(patient.active_record, :url => weltel_patient_record_path(patient, patient.active_record)) do |f|
      = select_tag(:contact_method, options_for_enum(Weltel::PatientRecord.contact_method, patient.active_record.contact_method), :onchange => submit_form)
  %td.actions
    = link_to(t(".messages_link", :count => patient.subscriber.messages.received.count), weltel_patient_messages_path(patient), :class => "button")
    = link_to('+', '#', :class => 'toggle_details')

%tr.patient_last
  - first_sent = patient.active_record.messages.sent.first
  %td.first{:colspan => 4}
    - if first_sent
      - first_received = patient.active_record.messages.received.first
      - if first_sent
        %h3 Initial response
        = exchange_tag(nil, first_received, [nil, 'messaging.no_initial_receive'])
    - else
      = exchange_tag(nil, nil, ['messaging.no_initial_send', nil])
  %td.last{:colspan => 4}
    - if first_received
      %h3 Most recent messages
      = exchange_tag(patient.active_record.messages.sent.last, patient.active_record.messages.received.last)

