//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = sorted_table_header_tag(:user_name) do
      = t(".user_name")

    = sorted_table_header_tag(:study_number) do
      = t(".study_number")

    //= sorted_table_header_tag("initial_result.value") do
    //= t(".initial_result")

    = table_header_tag(t(".current_result"))

    = sorted_table_header_tag("current_checkup.status") do
      = t(".status")

    //= filter_table_header_tag("current_checkup.contact_method", checkup_contact_method_options) do
    //= t(".contact_method")

    = filter_table_header_tag("clinic.name", clinic_name_options) do
      = t(".clinic")

    %th.actions
      .title= t(".actions")
      .print
        = link_to t(".print"), params.merge(:print => true), :target => "_blank"

  - if @patients.empty?
    %tr
      %td{:colspan => 8}
        .empty_search= t(".no_patients")
  - else
    = render({:collection => @patients, :partial => "row", :as => :patient})
