%table
  %tr
    = sorted_table_header_tag("", :user_name) do
      = t(".user_name")

    = sorted_table_header_tag("", :study_number) do
      = t(".study_number")

    = sorted_table_header_tag(:initial_state, :value) do
      = t(".initial_state")

    = sorted_table_header_tag(:active_state, :value) do
      = t(".current_state")

    = sorted_table_header_tag(:active_record, :status) do
      = t(".status")

    = table_header_tag(t(".contact_method"))

    = filter_table_header_tag(:clinic, :name, clinic_options) do
      = t(".clinic")

    %th.actions
      .title= t(".actions")
      .print
        = link_to t(".print"), params.merge(:print => true), :target => "_blank"

  - if @patients.empty?
    %tr
      %td{:colspan => 8, :class => "empty_search"}= t(".no_patients")
  - else
    = render({:collection => @patients, :partial => "row", :as => :patient})
