%table
  %tr
    = sorted_table_header_tag(:user_name) do
      = t(".user_name")
    = sorted_table_header_tag(:study_number) do
      = t(".study_number")
    = table_header_tag(t(".initial_state"))
    = table_header_tag(t(".current_state"))
    = table_header_tag(t(".status"))
    = table_header_tag(t(".contact_method"))
    = table_header_tag(t(".clinic"))
    %th.actions
      .title= t(".actions")
      .print
        = link_to t('.print'), params.merge(:print => true), :target => '_blank'

  = render({:collection => @patients, :partial => "row", :as => :patient})
