//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = table_header_tag(t(".user_name"))
    = table_header_tag(t(".study_number"))
    = table_header_tag(t(".initial_state"))
    = table_header_tag(t(".current_state"))
    = table_header_tag(t(".status"))
    = table_header_tag(t(".contact_method"))
    = table_header_tag(t(".clinic"))
    = table_header_tag(t(".notes"))

  - @patients.each do |p|
    %tr
      %td= p.user_name
      %td= p.study_number
      %td= t("weltel.patient_record_states.values.#{p.active_record.initial_state.value}")
      %td= p.active_record.state_changed? ? t("weltel.patient_record_states.values.#{p.active_record.active_state.value}") : ''
      %td= p.active_record.status.to_s
      %td= p.active_record.contact_method_s
      %td= p.clinic.name
      %td 
