//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = table_header_tag(t(".user_name"))
    = table_header_tag(t(".study_number"))
    = table_header_tag(t(".initial_result"))
    = table_header_tag(t(".current_result"))
    = table_header_tag(t(".status"))
    = table_header_tag(t(".contact_method"))
    = table_header_tag(t(".clinic"))

  - @patients.each do |p|
    %tr
      %td= p.user_name
      %td= p.study_number
      %td= result_value_t(result_value(p.initial_result))
      %td= result_value_t(result_value(p.current_result))
      %td= checkup_status_t(p.current_checkup.status)
      %td= checkup_contact_method_t(p.current_checkup.contact_method)
      %td= p.clinic.name
