- content_for(:tabs) do
  = form_tag(weltel_dashboard_path, :method => :get) do
    = hidden_field_tag(:page, 1)
    = search_field_tag(:search, @search, {:size => 40, :tabindex => 1, :onchange => submit_form})
    = submit_tag(t(".search"))

  - if is_study_dashboard?(@view)
    - Weltel::PatientRecordState::VALUES.each do |state|
      .tab{:class => active_class(state == @state && @search.blank?)}
        .content
          = link_to(t("weltel.patient_record_states.values.#{state}"), params.merge(:state => state, :page => 1), :class => "#{active_class(state == @state.to_sym)} #{state.to_s} state")
  - else
    - Weltel::PatientRecord::STATUSES.each do |status|
      .tab{:class => active_class(status == @status && @search.blank?)}
        .content
          = link_to(t("weltel.patient_records.statuses.#{status}"), params.merge(:status => status, :page => 1), :class => "#{active_class(status == @status.to_sym)} #{status.to_s} status")

- if @patients.empty?
  .empty_search
    = t(".no_patients")
- else
  = render("table")

  - content_for(:footer) do
    = will_paginate(@patients)

- content_for(:scripts) do
  :javascript
    $(function() {
      $('a.toggle_details').live('click', function(e) {
        $(e.target).parents('tr').next().toggle();
        return false;
      });

      $('select.current_state').live('change', function(e) {
        var klass = $(e.target).find(':selected').attr('class');
        $(e.target).attr('class', 'current_state state ' + klass);
      });
      $('td.actions .toggle_details').live('click', function(e) {
        $(e.target).parents('tr').toggleClass('open');
      });
    });
