//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

!!!
%html
  %head
    %title WelTel Administration
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    #container
      #header
        = render(:partial => "shared/header")
        = render(:partial => "shared/flash", :locals => { :flash => flash })

        #nav
          = link_to(t('.clinic_dashboard_link'), main_app.weltel_clinic_dashboard_path, :class => "#{active_class(@view && @view == :clinic)} button")
          = link_to(t('.study_dashboard_link'), main_app.weltel_study_dashboard_path, :class => "#{active_class(@view && @view == :study)} button")
          = active_link_to(t(".patients_link"), main_app.weltel_patients_path, :class => "button")
          -if authenticated_user.has_role(:administrator)
            = active_link_to(t(".message_templates_link"), sms.message_templates_path, :class => "button")
            = active_link_to(t(".responses_link"), main_app.weltel_responses_path, :class => "button")
            = active_link_to(t(".users_link"), authentication.users_path, :class => "button")
            = active_link_to(t(".clinics_link"), main_app.weltel_clinics_path, :class => "button")
            - content_for(:footer) do
              = active_link_to(t(".system_link"), main_app.weltel_system_path, :class => "button")
          - unless authenticated_user.nil?
            = link_to(t(".logout_link"), authentication.session_path(request.session_options[:id]), :method => :delete, :class => "logout")

        - if !content_for(:actions).blank?
          #actions
            = yield(:actions)
        - if !content_for(:tabs).blank?
          #tabs
            = yield(:tabs)

      #content
        = yield

      #footer
        = render(:partial => "shared/footer")

  = yield(:scripts)
