= content_tag_for(:tr, response) do
  %td
    = link_to( |
      response.name, |
      edit_weltel_response_path(response))

  %td= response.value.capitalize

  %td= l(response.updated_at)

  %td
    = link_to( |
      t(".destroy_link"), |
      weltel_response_path(response), |
      {:confirm => t(".destroy_confirm"), :disable_with => t(".destroy_disable"), :method => :delete, :class => "button"})
