= content_tag_for(:tr, response) do
  %td= response.name

  %td= response.value.capitalize

  %td= l(response.updated_at)

  %td
    = link_to( |
      t(".edit_link"), |
      edit_weltel_response_path(response), |
      :class => "button")
    = link_to( |
      t(".destroy_link"), |
      weltel_response_path(response), |
      {:confirm => t(".destroy_confirm"), :data => {:disable_with => t(".destroy_disable")}, :method => :delete, :class => "button"})
