%table
  %tr
    = sorted_table_header_tag(:response) do
      = t(".name")
    = filter_table_header_tag(:state, Weltel::Response.value) do
      = t(".value")
    = sorted_table_header_tag(:updated_at) do
      = t(".updated_at")
    %th= t(".actions")

  = render(:collection => @responses, :partial => "row", :as => :response)
