//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

!!!
%html
  %head
    %title WelTel Administration
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "feedbacker/application"
    = javascript_include_tag "feedbacker/application"
    = csrf_meta_tags

  %body
    #container
      #header
        = render(:partial => 'shared/header')
        = render(:partial => 'shared/flash', :locals => { :flash => flash })
        #nav
      #content
        = yield
      #footer
        = render(:partial => 'shared/footer')

  = yield :scripts


